# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
dist/
dist

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
%ProgramData%/Microsoft/Windows/UUS/State/_active.uusver

dist/index.html
dist/assets/andriod-EVnsN7Wf.svg
dist/assets/index-qn7fLD8r.css
dist/assets/index-TnRU_hj8.js
dist/assets/ios-5lldzYXo.svg
dist/assets/slick-Zcw5u4Ni.svg
dist/index.html
dist/assets/andriod-EVnsN7Wf.svg
dist/assets/index-qn7fLD8r.css
dist/assets/index-TnRU_hj8.js
dist/assets/ios-5lldzYXo.svg
dist/assets/slick-Zcw5u4Ni.svg
index.html
